version: "3.9"

services:
  postgres_db:
    image: postgres
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis_cache:
    image: redis/redis-stack:latest
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"

  # nest-app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: nest-app
  #   depends_on:
  #     - postgres_db
  #     - redis_cache
  #   env_file:
  #     - .env 
  #   ports:
  #     - "3000:3000"
  #   restart: always

volumes:
  postgres_data:
