


services:
  postgres_db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  redis_cache:
    image: redis/redis-stack:latest
    container_name: redis_cache
    restart: always
    ports:
      - "6380:6379"
    networks:
      - app_network

  # nest-app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #     args:
  #       NODE_ENV: ${NODE_ENV:-development}
  #   container_name: nest-app
  #   command: npm run start:dev   
  #     - .env
  #   environment:
  #     NODE_ENV: ${NODE_ENV:-development}
  #     REDIS_HOST: redis_cache
  #     REDIS_PORT: 6379
  #   depends_on:
  #     - postgres_db
  #     - redis_cache
  #   ports:
  #     - "5000:5000"
  #   volumes:
  #     - .:/usr/src/app            
  #     - /usr/src/app/node_modules   
  #   restart: always
  #   networks:
  #     - app_network

  prisma_studio:
    image: node:20-bullseye
    container_name: prisma_studio
    working_dir: /usr/src/app
    user: "root"
    volumes:
      - .:/usr/src/app
    command: >
      sh -c "npm ci &&
             npx prisma generate &&
             npx prisma studio --port 5555 --browser none"
    depends_on:
      - postgres_db
    ports:
      - "5556:5555"
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    networks:
      - app_network
    restart: always


volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge

