name: CD Pipeline

on:
  push:
    branches: [dev]

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/lawalbackendbackend:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/lawalbackendbackend:latest

  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: sakib
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd /home/sakib/lawal
            git pull origin dev

            docker compose down --remove-orphans
            docker compose rm -f

            docker pull ${{ secrets.DOCKER_USERNAME }}/lawalbackendbackend:latest

            docker compose up -d --force-recreate

            docker image prune -f
